<!--<div class="flex  items-center mb-8">-->
<!--  <div class="flex flex-col">-->
<!--    <div id="1" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('1')"></div>-->
<!--    <div id="4" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('4')"></div>-->
<!--    <div id="7" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('7')"></div>-->
<!--  </div>-->
<!--  <div class="flex flex-col">-->
<!--    <div id="2" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('2')"></div>-->
<!--    <div id="5" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('5')"></div>-->
<!--    <div id="8" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('8')"></div>-->
<!--  </div>-->
<!--  <div class="flex flex-col">-->
<!--    <div id="3" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('3')"></div>-->
<!--    <div id="6" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('6')"></div>-->
<!--    <div id="9" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('9')"></div>-->
<!--  </div>-->
<!--</div>-->
<div class="flex  items-center mb-8" >
  <div class="flex flex-col">
    <div id="0" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('0')"></div>
    <div id="3" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('3')"></div>
    <div id="6" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('6')"></div>
  </div>
  <div class="flex flex-col">
    <div id="1" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('1')"></div>
    <div id="4" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('4')"></div>
    <div id="7" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('7')"></div>
  </div>
  <div class="flex flex-col">
    <div id="2" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('2')"></div>
    <div id="5" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('5')"></div>
    <div id="8" class="border border-collapse border-zinc-700 w-20 h-20 hover:bg-zinc-300 bg-zinc-50 flex items-center justify-center outline-1 text-4xl cursor-pointer" (click)="onCellClick('8')"></div>
  </div>
</div>


